<h1>SELF REFLECTION</h1>
<p>
    <b>

    </b>There were a lot of areas where we had limited knowledge during this exercise. 
    Our group members are all Programming Beginners and it took a while to get a hang of it. 
</p>
<h2>What we did?</h2>
<p>
    Our goal is to learn and implement stocks recommendation and create a new
    connecting database to be a repository to store the stocks user choose.Finally deploy it on Microsoft Azure
</p>
<ul>
    <li>
        Initially, we developed some models to connect to a SQL database as a
        repository for users to pick out stocks and store the stocks' infomation.
    </li>
    <li>
        we began to study Finance and stock markets to try and understand a few models so that we could make a blue print of the strategy we pick.
    </li>
</ul>

<p>
    Initially, we used about few years of companies data, to predict our strategy. Now, we have used all the data that is available from the IEXTrading application so that our model performs better and the strategy is even is refined. 
    Though the computation time increased, our strategy has performed better than before and is more consistant. 
    As we refined the project further, we also tried to simplify the user's adaptation difficulty, improve the response speed of some pages to improve user's
    experience.
</p>

<h2>What we learned?</h2>
<p>
    We had issues pertaining to speed. The back end process was difficult to debug than the wesite itself.
    Tthe application did not respond the way we wanted it as per our code, since debug wasnt helping us to get to the problem statement.
    We used breakpoint to try and understand the interraction between the application and the database. This took a while and lacked clarity in few places. Being a bunch of ameteur programmers, we had a hard time to understand and debug since MVC applications, database connectivity, cloud deployment, entity framework, was a little new to us.
    We learnt that it is very necesssary to logically draw the requirements and approach with a method. We should have had more clearer specs on our strategy and the method to achieve it.But we faired well in the overall function.
</p>